.container{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

form{
    position: absolute;
    background-color: #C85C8E;
    width: 50%;
    text-align: center;
    top: 25%;
    left: 25%;
}

.form-title{
    text-align: center;
    padding: 10px;
}

input{
    margin: 10px;
}

.logged-in{
    text-align: center;
    background: linear-gradient(to right,#2DCDDF, #2DCDDF, #6C00FF);
    padding: 10px;
}

.names{
    text-align: left;
}